.carouselProducts {
  .carouselDefault {
    --slide-spacing: 1.5%;
    --slide-size: 25%;
    @include res-md {
      --slide-spacing: 16px;
      --slide-size: 80%;
    }
    &__container {
      @include res-md {
        margin-left: 0;
      }
    }
    &__slide {
      @include res-md {
        &:last-child {
          margin-right: 16px;
        }
      }
    }
    &__dots {
      display: none;
      @include res-md {
        display: flex;
        bottom: -26px;
      }
    }
    &__dot {
      border-color: $color-tertiary;
      &--selected {
        background-color: $color-tertiary;
      }
    }
    &__button {
      &--prev {
        @include resize(left, -50);
      }
      &--next {
        @include resize(right, -50);
      }
    }
  }
}
