.accordion {
  position: relative;
  @include resize(max-height, 60);
  transition: max-height 150ms ease-out;
  overflow: hidden;
  &--active {
    transition: max-height 150ms ease-in;
    @include resize(max-height, 500);
  }

  &__container {
    position: relative;
    z-index: 1;
    background-color: $color-white;
    border: 1px solid $color-light-grey;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    @include resize(padding-block, 16);
    @include resize(padding-inline, 24);
    @include resize(border-radius, 8);
    @include resize(height, 60);
  }

  &__title {
    pointer-events: none;
    @include font-w;
    font-weight: 700;
    @include content {
      @include resize(font-size, $s2-fs);
      @include resize(line-height, $s2-lh);
    }
  }
  &__description {
    @include font-w;
    font-weight: 500;
    color: $color-white;
    @include content {
      @include resize(font-size, $b1-fs);
      @include resize(line-height, $b1-lh);
    }
  }

  &__descriptionContainer {
    opacity: 0;
    @include resize(margin-top, -5);
    background-color: $color-tertiary;
    @include resize(padding-block, 32);
    @include resize(padding-inline, 24);
    @include resize(border-bottom-left-radius, 8);
    @include resize(border-bottom-right-radius, 8);
    transition: opacity 150ms ease-out;
    &--active {
      transition: opacity 150ms ease-in;
      opacity: 1;
    }
  }

  &__icon {
    @include resize(height, 24);
    @include resize(width, 24);
    background-image: url("/assets/img/icons/plus.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: background-image 150ms ease-out;
    &--active {
      transition: background-image 150ms ease-in;
      background-image: url("/assets/img/icons/minus.svg");
    }
  }
}
