.cardDepoimento {
  position: relative;
  width: 100%;
  @include resize(padding-block, 5);
  @include resize(max-width, 1190);
  &__title {
    @include font-w;
    color: $color-black;
    @include resize(gap, 8);
    @include content {
      @include resize(font-size, $b2-fs);
      @include resize(line-height, $b2-lh);
    }
    span {
      font-weight: 400;
      text-wrap: nowrap;
    }
    div {
      @include resize(margin-left, 8);
    }
    &--font {
      font-weight: 700;
    }
  }
  &__description {
    @include font-w;
    color: $color-black;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    @include resize(gap, 8);
    @include content {
      @include resize(font-size, $b2-fs);
      @include resize(line-height, $b2-lh);
    }
  }
  &__textContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include resize(padding-right, 32, 0);
    @include resize(gap, 12);
    @include res-md {
      flex-direction: column;
    }
  }
  &__titleContainer {
    width: 100%;
    @include lineclamp(1);
    @include resize(max-width, 250, 100%);
    &:nth-child(even) {
      @include resize(max-width, 280, 100%);
    }
  }
  &__container {
    display: flex;
    align-items: center;
    background-color: $color-white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
    @include resize(padding, 8, 16);
    @include resize(gap, 32, 16);
    @include resize(border-radius, 8);
    @include res-md {
      flex-direction: column;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
    }
  }
  &__descriptionContainer {
    @include lineclamp(5);
    position: relative;
    &:before {
      display: block;
      content: "";
      width: 100%;
      background-color: $color-light-grey;
      @include resize(margin-top, 16, 4);
      @include resize(margin-bottom, 16);
      @include resize(height, 1);
    }
  }
  &__videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    @include resize(width, 577, 100%);
    @include resize(height, 305, 173);
    @include resize(max-width, 550);
    .cardDepoimento__imgContainer {
      width: 100%;
      height: 100%;
      aspect-ratio: 577 / 305;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      @include resize(border-radius, 4);

      .cardDepoimento__imgEmphasis {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .videoClickPlay {
      aspect-ratio: 577 / 305;
      &::before {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
      }
    }
    .cardDepoimento__videoContainer {
      width: 100%;
      height: 100%;
      aspect-ratio: 577 / 305;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      @include resize(border-radius, 4);
      &:after {
        content: "";
        position: absolute;
        @include resize(width, 110);
        @include resize(height, 64);
        background-image: url("/assets/img/components/card-depoimento/play.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .cardDepoimento__videoEmphasis {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &.active {
        &:after {
          content: none;
        }
      }
    }
  }
}
