.cardProduto {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 290/365;
  &:after {
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    z-index: 4;
    transform: rotateX(180deg);
    background: linear-gradient(359deg, rgba(0, 0, 0, 0) 25.46%, rgba(0, 0, 0, 0.7) 64.81%, #000 90.91%);
  }
  &__title {
    @include font-w;
    color: $color-white;
    &--1 {
      @include content {
        font-weight: 700;
        @include resize(font-size, $b1-fs);
        @include resize(line-height, $b1-lh);
      }
    }
    &--2 {
      @include content {
        @include resize(font-size, $b2-fs);
        @include resize(line-height, $b2-lh);
      }
    }
  }
  &__imgContainer {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    .imgEmphasis {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    position: absolute;
    width: 100%;
    z-index: 5;
    @include resize(max-width, 232);
    @include resize(bottom, 16);
    @include resize(left, 16);
  }
  &__contentHover {
    transition: 0.35s ease-in;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    @include lineclamp(3);
    @include res-md {
      max-height: 66px;
      opacity: 1;
    }
  }
  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.15s ease-in;
    color: $color-white;
    @include resize(gap, 8);
    @include resize(font-size, $b2-fs);
    @include resize(line-height, $b2-lh);

    &:after {
      content: "";
      @include resize(width, 16);
      @include resize(height, 16);
      background-image: url("/assets/img/icons/chevron-right-white.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    @include res-md {
      font-weight: 900;
      color: $color-primary;
      &:after {
        background-image: url("/assets/img/icons/chevron-right-yellow.svg");
      }
    }
  }
  &:hover {
    .cardProduto__contentHover {
      transition: 0.35s ease-out;
      opacity: 1;
      animation: cardProdutoVisible 0.5s 1 forwards;
      @keyframes cardProdutoVisible {
        0% {
          opacity: 0;
        }
        30% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @include resize(max-height, 66);
    }
    .cardProduto__btnContainer {
      .cardProduto__btn {
        font-weight: 900;
        color: $color-primary;
        &:after {
          background-image: url("/assets/img/icons/chevron-right-yellow.svg");
        }
      }
    }
  }
}
