.cardDif {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  @include resize(min-height, 260, 206);
  @include resize(padding-block, 45, 24);
  @include resize(padding-inline, 32, 16);
  @include resize(gap, 8);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);

  &__title {
    @include font-w;
    color: $color-black;
    font-weight: 600;
    @include content {
      @include resize(font-size, $s2-fs);
      @include resize(line-height, $s2-lh);
    }
  }
  &__description {
    @include font-w;
    color: $color-light-black;
    @include content {
      @include resize(font-size, $b2-fs);
      @include resize(line-height, $b2-lh);
    }
  }
  &__textContainer {
    position: relative;
    display: flex;
    align-items: center;
    @include resize(gap, 8);
    flex-shrink: 0;
  }
  &__descriptionContainer {
    @include lineclamp(5);
  }
  &__imgContainer {
    @include resize(width, 40);
    @include resize(height, 40);
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
