.formDefault {
  &__content {
    display: grid;
    grid-template-columns: 50% 50%;
    @include resize(gap, 17);
    @include res-lg {
      grid-template-columns: 100%;
    }
    > :nth-last-child(-n + 2) {
      grid-column: 1 / -1;
    }
    .formDefault-buttonContainer {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @include resize(margin-top, 16);
      @include resize(gap, 24, 12);
      @include res-md {
        flex-direction: column;
      }
    }
  }
  .btnSubmit {
    @include res-md {
      font-weight: 500;
      display: block;
      width: 100%;
    }
  }
  &__resp {
    display: flex;
    justify-content: center;
    align-items: center;
    .formResponseSuccess {
      color: $color-primary;
      font-size: 1.25rem;
    }
    .formResponseError {
      color: $color-error;
      font-size: 1.25rem;
    }
  }
}
