.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include resize(gap, 8);
  &--nocategory {
    display: none;
  }
  &__text {
    @include font-w;
    font-weight: 500;
    color: $color-black;
    @include content {
      @include resize(font-size, $l1-fs);
      @include resize(line-height, $l1-lh);
    }
  }
  &__selectWrap {
    @include resize(padding-inline, 16);
    @include resize(padding-block, 8);
    @include resize(border-radius, 4);
    border: 1px solid $color-grey;
  }
  &__select {
    cursor: pointer;
    @include font-w;
    font-weight: 500;
    color: $color-light-black;
    background-color: transparent;
    @include content {
      @include resize(font-size, $l1-fs);
      @include resize(line-height, $l1-lh);
    }
    appearance: none;
    background-image: url("/assets/img/icons/chevron-down.svg");
    background-repeat: no-repeat;
    background-position: center right;
    @include resize(padding-right, 24);
  }
}
