.buttonLinkGray {
  max-width: fit-content;

  &__link {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    color: $color-grey;

    padding: pCalc(8);
    @include resize(font-size, $b2-fs);
    @include resize(line-height, $b2-lh);
    @include resize(gap, 6);

    transition: all 250ms ease-in-out;

    @include res-lg {
      padding: 8px;
    }

    &::after {
      transition: all 250ms ease-in-out;
      content: "";
      display: inline-block;
      background-image: url("/assets/img/arrow_gray.svg");
      background-position: center;
      background-size: contain;
      @include resize(width, 18);
      @include resize(height, 18);
    }
  }

  &:hover {
    .buttonLinkGray__link {
      color: $color-light-grey;
      &::after {
        background-image: url("/assets/img/arrow_orange.svg");
      }
    }
  }
}
