.buttonTagNav {
    display: inline-flex;

    &__link {
        display: flex;
        cursor: pointer;
        padding: pCalc(12) pCalc(24);

        background-color: $color-white;
        border: solid $color-tertiary;

        color: $color-black;
        line-height: normal;
        white-space: nowrap;
        @include resize(font-size, $l2-fs);
        @include resize(border-width, 1);
        @include resize(border-radius, 300);

        transition: background-color 0.15s ease-in;

        @include res-md {
            padding: 12px 24px;
        }

        &:hover,
        &.active {
            transition: background-color 0.15s ease-out;
            color: $color-white;
            background-color: $color-tertiary;
        }

        &.active {
            pointer-events: none;
        }
    }
}
