.cardClienteDepoimento {
  @include res-md {
    justify-self: center;
  }
  &__description {
    @include font-w;
    font-weight: 400;
    opacity: 0.63;
    color: $color-light-black;
    @include content {
      @include resize(font-size, $b2-fs);
      @include resize(line-height, $b2-lh);
    }
  }
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    border: 1px solid $color-light-grey;
    @include resize(gap, 8);
    @include resize(width, 298);
    @include resize(height, 271);
    @include resize(padding-block, 52);
    @include resize(padding-inline, 32);

    @include res-md {
      aspect-ratio: unset;
    }
  }
  &__imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    @include resize(width, 234);
    @include resize(height, 48);
    .cardClienteDepoimento__imgEmphasis {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__content {
    position: relative;
    .cardClienteDepoimento__title {
      @include lineclamp(5);
    }
  }
}
