.selectDate {
  z-index: 5;
  overflow: hidden;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @include resize(max-width, 315);
  @include resize(min-width, 300);
  @include resize(padding, 16);
  @include resize(gap, 16);

  border-radius: 4px;
  background: $color-white;

  box-shadow:
    0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -2px rgba(0, 0, 0, 0.1);

  opacity: 0;
  pointer-events: none;
  @include resize(max-height, 0);
  transition:
    max-height 350ms ease-out,
    opacity 200ms ease-out 150ms;

  &--active {
    pointer-events: all;
    opacity: 1;
    @include resize(max-height, 600);
    transition:
      max-height 350ms ease-in,
      opacity 200ms ease-in;
  }

  .rdp-root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .rdp-months {
      position: relative;
      width: 100%;

      .rdp-nav {
        position: absolute;
        display: flex;
        align-items: center;
        right: 0;
        @include resize(gap, 6);

        .rdp-button_previous,
        .rdp-button_next {
          cursor: pointer;
          opacity: 0.6;
          @include resize(width, 16);
          @include resize(height, 16);

          &:hover,
          &:focus {
            opacity: 1;
            border-radius: 100%;
          }

          svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            filter: brightness(0) saturate(100%) invert(9%) sepia(24%) saturate(527%) hue-rotate(168deg) brightness(96%)
              contrast(93%);
          }
        }
      }

      .rdp-month {
        display: flex;
        flex-direction: column;
        @include resize(gap, 16);

        &_caption {
          display: flex;
          justify-content: space-between;
          align-items: center;
          @include resize(width, 265);
          @include resize(margin-left, 8);

          .rdp-caption_label {
            text-transform: capitalize;
            color: $color-gray-0;
            font-weight: 700;
            @include resize(font-size, $b1-fs);
            @include resize(line-height, $b1-lh);
          }
        }
        .rdp-month_grid {
          display: flex;
          flex-direction: column;
          @include resize(gap, 16);

          .rdp-weekdays {
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            .rdp-weekday {
              text-transform: capitalize;
              color: $color-gray-10;
              text-align: center;
              font-weight: 600;
              @include resize(font-size, $b2-fs);
              @include resize(line-height, $b2-lh);
            }
          }
          .rdp-weeks {
            display: grid;
            @include resize(grid-row-gap, 6);
          }
          .rdp-week {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            @include resize(grid-column-gap, 8);

            .rdp-day {
              display: flex;
              justify-self: center;
              justify-content: center;
              align-items: center;
              border-radius: 100%;
              @include resize(width, 32);
              @include resize(height, 32);

              &:hover,
              &:focus,
              &:focus-visible {
                background-color: rgb(109, 246, 237, 0.5);
              }

              &_button {
                cursor: pointer;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                color: $color-gray-10;
                font-family: inherit;
                @include resize(font-size, $b2-fs);
                @include resize(line-height, $b2-lh);

                &:hover,
                &:focus {
                  background-color: rgb(109, 246, 237, 0.5);
                }
              }
            }

            .rdp-disabled {
              opacity: 0.5;
            }

            .rdp-selected {
              border-radius: 100%;
              background-color: $color-secundary;
              z-index: 100;
              &.rdp-range_start:not(.rdp-range_end) {
                border-radius: 0;
                border-top-left-radius: 100%;
                border-bottom-left-radius: 100%;
              }
              &.rdp-range_end:not(.rdp-range_start) {
                border-radius: 0;
                border-top-right-radius: 100%;
                border-bottom-right-radius: 100%;
              }
              &.rdp-range_middle {
                position: relative;
                background-color: $color-secundary;
                border-radius: 0;
              }
            }
          }
        }
      }
    }
  }

  &__calendarButtonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .buttonSecondary {
      width: unset;
      @include resize(padding-block, 9);
      @include resize(padding-inline, 16);
    }
  }
}
