.btnSubmit {
  cursor: pointer;
  display: inline-flex;
  background: $color-grey;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;
  line-height: normal;
  @include resize(border-radius, 4);
  @include resize(font-size, $l1-fs);
  @include resize(padding-inline, 32);
  @include resize(padding-block, 14);

  transition: all 0.2s ease-in;

  &:hover {
    background: $color-light-grey;
  }
}
