.textContent {
    mark {
        background: $color-primary;
    }
    hr {
        width: 100%;
        @include resize(height, 2);
        @include resize(margin-bottom, 30);
    }
    ul,
    ol {
        @include resize(margin-bottom, 25);
        li {
            @include resize(margin-bottom, 10);
            text-wrap: balance;
        }
    }
    h1 {
        font-weight: 900;
        @include resize(font-size, 40, 24);
        @include resize(line-height, 48, 32);
        @include resize(margin-bottom, 10, 8);
    }
    h2 {
        font-weight: 900;
        @include resize(font-size, 32, 24);
        @include resize(line-height, 40, 32);
        @include resize(margin-bottom, 16);
    }
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        @include resize(font-size, 20, 18);
        @include resize(line-height, 24, 26);
        @include resize(margin-bottom, 8);
    }
    p {
        color: $color-light-black;
        font-weight: 500;
        @include resize(font-size, 16);
        @include resize(line-height, 24);
        @include resize(margin-bottom, 24);
    }
    a {
        color: $color-primary;
        text-decoration: underline;
        &:hover {
            transition: 0.5s ease;
            text-decoration: none;
        }
    }
    i,
    em {
        font-style: italic;
    }
    b,
    strong {
        font-weight: bold;
    }
    sub,
    sup,
    small {
        font-size: small;
    }
    del {
        text-decoration: line-through;
    }
    blockquote {
        color: #828282;
        font-style: italic;
        font-weight: 400;
        @include resize(margin-bottom, 15);
        @include resize(font-size, 20);
        @include resize(line-height, 28);
    }
    code {
        background-color: #f4f4f4;
        color: #333;
        border-radius: 4px;
        padding: pCalc(2) pCalc(4);
    }
    img {
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
        width: 100%;
        @include resize(height, 402, 311);
        @include resize(margin-bottom, 24);
    }
}
