.navBarAnchor {
  position: sticky;
  @include resize(top, -1, 0);
  z-index: 9;
  background-color: $color-tertiary;
  transition: top 0.25s ease;

  &.scroll-up {
    transition: top 0.25s ease;
    @include resize(top, 83, 76);
  }
  &__title {
    @include font-w;
    color: $color-white;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $color-primary;
    }
    &--1 {
      @include resize(font-size, $b1-fs);
      @include resize(line-height, $b1-lh);
    }
  }
  &__container {
    .carouselDefault {
      &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        @include resize(gap, 48, 0);
        @include res-md {
          justify-content: flex-start;
        }
      }
      @include container;
      @include res-md {
        --slide-spacing: 24px;
        --slide-size: 20%;
      }
      &__slide {
        width: unset;
        text-align: center;
        @include resize(padding-block, 16);
        &:last-child {
          margin-right: 30px;
        }
      }
      &__button {
        @include res-md {
          &::before {
            background-image: url("/assets/img/icons/chevron-right-white.svg");
          }
          &--prev {
            background: linear-gradient(90deg, rgba(0, 48, 78, 0) -16.81%, #00304e 80.25%);
          }
          &--next {
            background: linear-gradient(90deg, rgba(0, 48, 78, 0) -16.81%, #00304e 80.25%);
          }
        }
      }
    }
  }
}
