/* Brand */
$color-primary: #f2aa00;
$color-secundary: #fec745;
$color-tertiary: #00304e;

/* Base */
$color-background: var(--color-background);

/* Default */
$color-black: #121212;
$color-light-black: #35373a;
$color-grey: #d7d7d7;
$color-light-grey: #ececec;
$color-white: #fff;

/* Error */
$color-error: #f20000;
