.inputSearch {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid $color-grey;
  background: rgba($color-grey, 0.2);
  @include resize(gap, 8);
  @include resize(border-radius, 4);
  @include resize(padding-block, 12);
  @include resize(padding-inline, 16);
  @include resize(min-width, 365, 100%);
  &__input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-weight: 500;
    @include resize(font-size, $l1-fs);
    @include resize(line-height, $l1-lh);
    @include resize(min-height, 24);
  }
  &__icon {
    @include resize(height, 24);
    @include resize(width, 24);
    object-fit: contain;
  }
}
