.header {
  overflow: hidden;
  position: sticky;
  z-index: 10;
  top: 0;
  transition: top 0.25s ease;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px -1px rgba(0, 0, 0, 0.1);

  &__top {
    top: 0;
  }

  &__scroll--down {
    transition: top 0.25s ease;
    @include resize(top, -100);
  }

  &__overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    animation: menu-out 1 0.25s ease-out;
  }

  &__containerHeader {
    @include container;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    @include res-md {
      box-shadow:
        0px 1px 3px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px -1px rgba(0, 0, 0, 0.1);
    }
  }

  &__open--menu {
    overflow: visible;
    .header__overlay {
      width: 100%;
      height: 100%;
      animation: menu-in 1 0.25s ease-out forwards;
    }
  }

  &__titleContainer {
    text-align: center;
    @include lineclamp(1);
  }

  &__title {
    @include font-w;
    @include resize(font-size, $h0-fs);
    @include resize(line-height, $h0-lh);
    @include resize(letter-spacing, $h0-ls);
  }

  &__open--menu:not(.header__open--search) {
    .header__bloco {
      .header__containerTitle {
        opacity: 1;
        max-height: 100vh;
        transition: 0.25s ease-out;
        @include res-md {
          pointer-events: all;
          min-height: 100vh;
        }
      }
    }
  }

  &__open--search {
    @include res-md {
      overflow: visible;
      .header__overlay {
        width: 100%;
        height: 100%;
        animation: menu-in 1 0.25s ease-out forwards;
      }
    }
  }

  // Animation
  @keyframes menu-in {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }
    1% {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes menu-out {
    0% {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
    99% {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    100% {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }
}
