.header {
  overflow: hidden;
  position: sticky;
  z-index: 10;
  top: 0;
  transition: top 0.25s ease;
  box-shadow:
    0px 0px 8px 4px rgba(0, 0, 0, 0.1),
    0px 2px 20px -10px rgba(0, 0, 0, 0.1);

  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(0px);

  &__containerHeader {
    position: relative;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    @include resize(padding-block, 16);
    @include resize(padding-inline, 32);
  }

  &__logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    @include resize(gap, 8);

    &:hover {
      opacity: 0.625;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    @include resize(width, 32);
    @include resize(height, 32);

    &--mod {
      @include resize(width, 24);
      @include resize(height, 24);
    }
  }

  &__title {
    font-weight: 500;
    color: $color-black;
    @include resize(font-size, $h3-fs);
    @include resize(line-height, $h3-lh);
    @include resize(letter-spacing, $h3-ls);
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include resize(gap, 16);
  }

  &__navLink {
    display: flex;
    align-items: center;
    @include resize(gap, 4);
    &:hover {
      opacity: 0.625;
    }

    &--mod {
      &:hover {
        opacity: 1;
      }
    }
  }

  &__navLinkText {
    font-weight: 500;
    color: $color-black;
    @include resize(font-size, $b1-fs);
    @include resize(line-height, $b1-lh);
    @include resize(letter-spacing, $b1-ls);

    &--mod {
      color: $color-red-30;
    }
  }
}
