.carouselMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  .carouselDefault {
    --slide-spacing: unset;
    --slide-size: unset;
    @include res-md {
      --slide-spacing: 16px;
      --slide-size: 80%;
    }
    &__container {
      @include res-md {
        margin-left: 0;
      }
    }
    &__slide {
      min-width: unset;
    }
    &__dots {
      display: none;
    }
    &__dot {
      border-color: $color-tertiary;
      &--selected {
        background-color: $color-tertiary;
      }
    }
    &__button {
      display: none;
      border-radius: unset;
      @include res-md {
        display: flex;
        background-color: transparent;
        &::before {
          background-image: url("/assets/img/icons/chevron-right-blue.svg");
          @include resize(width, 24);
          @include resize(height, 24);
        }
        &--prev {
          height: 100%;
          justify-content: flex-end;
          @include resize(left, 0);
          @include resize(width, 50);
          background: linear-gradient(270deg, #fff 22.47%, rgba(255, 255, 255, 0) 100%);
        }
        &--next {
          height: 100%;
          justify-content: flex-end;
          @include resize(right, 0);
          @include resize(width, 90);
          background: linear-gradient(270deg, #fff 22.47%, rgba(255, 255, 255, 0) 100%);
        }
      }
    }
  }
}
